<div id="orderModal<%= order.id %>" class="fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg w-full max-w-2xl mx-4 max-h-[90vh] overflow-y-auto">
    <div class="p-6">
      <div class="flex justify-between items-center border-b pb-4 mb-4">
        <h2 class="text-xl font-bold"><%= t "order.details" %></h2>
        <%= link_to "#",
              onclick: "closeOrderModal('#{order.id}'); return false;",
              class: "text-gray-500 hover:text-gray-700" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        <% end %>
      </div>

      <div class="mb-4">
        <div class="space-y-3">
          <div class="flex items-center">
            <span class="w-32 text-gray-500 font-medium"><%= t "order.number" %>:</span>
            <span class="text-gray-700">ORDER#<%= order.id %></span>
          </div>
          <div class="flex items-center">
            <span class="w-32 text-gray-500 font-medium"><%= t "order.order_date" %>:</span>
            <span class="text-gray-700"><%= l order.created_at, format: :long %></span>
          </div>
          <div class="flex items-center">
            <span class="w-32 text-gray-500 font-medium"><%= t "order.detail_info.address" %>:</span>
            <span class="text-gray-700"><%= order.shipping_address %></span>
          </div>
          <div class="flex items-center">
            <span class="w-32 text-gray-500 font-medium"><%= t "order.detail_info.phone" %>:</span>
            <span class="text-gray-700"><%= order.phone_number %></span>
          </div>
          <div class="flex items-center">
            <span class="w-32 text-gray-500 font-medium"><%= t "order.status.name" %>:</span>
            <span class="<%= order.status %> px-2.5 py-1 rounded-full text-xs font-medium">
              <%= t "order.status.#{order.status}" %>
            </span>
          </div>
        </div>
      </div>

      <div class="space-y-2 mb-4">
        <h3 class="font-semibold border-b pb-2"><%= t "product.name" %></h3>
        <ul class="divide-y divide-gray-200">
            <%= render partial: "orders/product_order_detail_item", collection: order.products, as: :product, locals: { order: order } %>
        </ul>
      </div>

      <div class="border-t pt-4 flex justify-between">
        <p class="font-medium"><%= t "order.total" %>:</p>
        <p class="text-xl font-bold"><%= number_to_currency price_in(order.total_price) %></p>
      </div>
    </div>
  </div>
</div>
